[Desktop Entry]
Categories=Wpa;
Comment[es]=
Comment=
Exec=sh -c "wifimosys;${SHELL:-bash}"
GenericName[es]=Evil twin attack
GenericName=Evil twin attack
Icon=preferences-web-browser-cache
MimeType=
Name[es]=Wifimosys
Name=Wifimosys
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
